# ncmpcpp error-log
error.log

# vim-directories
.vim/autoload
.vim/bundle
.vim/spell

# neovim init-file (symlinked to vimrc)
.vim/init.vim

# xmonad
*/.xmonad/xmonad-x*
*/.xmonad/xmonad.errors
*/.xmonad/xmonad.hi
*/.xmonad/xmonad.o
