snippet hint hint exampleblock
	\begin{exampleblock}{Hint:}
		${0}
	\end{exampleblock}
snippet fr frame environment
	\begin{frame}${1}
		\frametitle{${2:title}}
		\framesubtitle{${3:subtitle}}
		${0}
	\end{frame}
snippet frf frame environment
	\begin{frame}[fragile]
		\frametitle{${1:title}}
		\framesubtitle{${2:subtitle}}
		${0}
	\end{frame}
